<div class="row">
  <div class="span12">
    <h1>Editing stream</h1>
    <hr />
  </div>
</div>

<div class="row">
  <div class="span12">
  <%= render 'form' %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <a href="<%= url_for @stream %>" class="btn">Cancel Edit</a>
    <a href="<%= url_for streams_path %>" class="btn">Back to Streams</a>
  </div>
</div>
