<div class="hero-unit">
  <h1>YamLive</h1>
  <p>A simple demonstration application of Live Video Streaming using the Zencoder API</p>
</div>
<div class="row">
  <div class="span4">
    <div class="info-box">
      <a href="https://github.com/zencoder/dreamlive"><h2>Get The Code</h2><p>The source code for this demonstation site is freely available under an MIT license. This site is written in Ruby and Rails, and uses the Zencoder RubyGem. Feel free to use it however you like.</p></a>
      <p><a href="https://github.com/zencoder/dreamlive" class="btn btn-primary">View on Github &gt;&gt;</a></p>
    </div>
  </div>
  <div class="span4">
    <div class="info-box">
      <a href="/users/sign_up"><h2>Register To Stream</h2><p>Register an account on DreamLive, to be able to create and publish your own live streams. All streams are publicly available on the DreamLive streams listing.</p></a>
      <p><a href="/users/sign_up" class="btn btn-primary">Sign Up &gt;&gt;</a></p>
    </div>
  </div>
  <div class="span4">
    <div class="info-box">
      <a href="/streams"><h2>Watch Streams</h2><p>Browse live streams, and also view saved versions of previous streams. All streams from all users are available to watch.</p></a>
      <p><a href="/streams" class="btn btn-primary">Watch Streams &gt;&gt;</a></p>
    </div>
  </div>
</div>
